<div class="card" style="width: 50rem;">
  <div class="card-body d-flex space-between">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Sample Recipe</h5>
      <h6 class="card-subtitle mb-2 text-muted">by User</h6>
    </div>
    <div class="card-body d-flex flex-column text-center">
    <p class="card-text">Total food items: 4</p>
    <p class="card-text">Total Price: $120</p>
    </div>
  </div>
</div>