<section class="d-flex flex-column align-items-center">
  <h1 class="text-center">Edit ingredient</h1>
  <div class="wrapper">
    <%= form_with url: user_recipe_recipe_food_path, method: :patch do |form| %>
      <button type="submit" class="btn btn-primary">Add</button>
    <% end %>
  </div>
</section>